<div class="w-75">
  <h1 class="float-left">Records</h1>
  <%= link_to 'New record', new_record_path, class: 'btn btn-primary float-right' %>
  <table class="table">
    <thead>
      <tr>
        <th>Rental Code</th>
        <th>Ends At</th>
        <th>Bike Serial Number</th>
        <th>Station Address</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <% cache record do %>
          <%= render record %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
