<div class="w-75">
  <h1 class='float-left'>Your Rentals</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Station</th>
        <th>Code</th>
        <th>Hours</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @rentals.each do |rental| %>
        <% cache rental do %>
          <%= render rental %>
        <% end %>
      <% end %>
    </tbody>
</table>
</div>
