<h1>Your Rentals</h1>

<table class="table w-50">
  <thead>
    <tr>
      <th>Station</th>
      <th>Code</th>
      <th>Hours</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.station.address %></td>
        <td><%= rental.code %></td>
        <td><%= rental.hours %></td>
        <td><%= rental.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
